@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');
/* estilos generales*/
:root{
    --verde-c:#ff7700;
    --blanco-c:#fff;
    --celeste-c:#0060cd;
    --otrocel-c:#0099f8;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background: linear-gradient(#2b1055, #0099f8);
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
width: 100%;
padding: 30px 100px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 10000;
}





.heading {
    font-size: 4rem;
    color:var(--celeste-c);
    text-align: center;
    padding: 6rem 1rem 0 0;
    letter-spacing: .2rem;
    font-weight: 600;
}
.heading-color{
    font-size: 4rem;
    color: var(--celeste-c);
text-align: center;
    padding: 6rem 1rem 0 0;
    letter-spacing: .2rem;
    font-weight: 600;
}

header .logo-img {
    height: 60px;
 padding: 5px;
 justify-items: center;
}

header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 4em;
    text-transform: uppercase; /* logo en mayuscula*/
    letter-spacing: 2px;
    
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius:20px ;
}
header ul li a:hover, header ul li a.active{
    background: #fff;
    color: #2b1055;
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img{
position: absolute;
top: 35px;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
pointer-events: none;
}
section img#luna{
    mix-blend-mode: screen;
}
section img#montañaF {
z-index: 10;
}
#text{
    position: absolute;
    color: #73f1ff;
    white-space: nowrap;
    font-size:6.5vw;
    z-index: 9;
}

#btn{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 2em;
    z-index: 10;
    transform: translateY(100px);
}


/*Produ*/
.product {
    text-align: center;
    justify-content: center;
    margin: 80px 20px;
}
.product .about .row .content{
    background-color: #0099f8;
}
.product .about .row .content h1 {
    color:rgb(94, 183, 247);
}
.product .about .row .content p {
    color:#ffffff;
    font-size: 2em;
}
.product .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.product .box-container .box {
    height: 30rem;
    width: 25rem;
    background: var(--celeste-c);
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
    cursor: pointer;
}

.product .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: var(--blanco-c) ;
    font-size: 3rem;
    margin: 2rem 0;
    transition: .2s;
}

.product .box-container .box h3 {
    font-size: 2rem;
    color:var(--verde-c);
    transition: .2s;
}

.product .box-container .box p {
    font-size: 1.3rem;
    padding: .7rem 2rem;
    color: #fff;
}

.product .box-container .box:hover i {
    background: var(--otrocel-c);
}

.product .box-container .box:hover h3 {
    color: #ffc246;
}

.product button {
    height: 5rem;
    width: 20rem;
    border-radius: 1rem;
    background: var(--celeste-c);
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
    margin-top: 50px;
}

.product button:hover {
    background: none;
    border: .2rem solid var(--otrocel-c);
}

.contact {
    background: #171717;
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    text-align: center;
}

.contact .row .form-container {
    width: 50%;
    padding-right: 6rem;
}

.contact .row .form-container input, textarea {
    height: 4rem;
    width: 100%;
    background: #fff;
    border-radius: 5rem;
    padding: 0 1rem;
    margin: 1rem 0;
    color: var(--celeste-c);
    font-size: 1.7rem;
    transition: .2s linear;
}

.contact .row .form-container input:focus, textarea:focus {
    border: .4rem solid var(--celeste-c);
}

.contact .row .form-container textarea {
    height: 20rem;
    border-radius: 1rem;
    padding: 1rem;
    resize: none;
}

.contact .row .form-container input[type="submit"] {
    height: 5rem;
    width: 17rem;
    background: var(--celeste-c);
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
}

.contact .row .form-container input[type="submit"]:hover {
    background: none;
    color: var(--blanco-c);
    border: .2rem solid var(--otrocel-c);
}

.footer {
    text-align: center;
}

.footer .icons {
    padding: 3rem 0;
}

.footer .icons a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.2rem;
    text-align: center;
    border-radius: 50%;
    color: #ffc246;
    border: .2rem solid #ffc246;
    font-size: 2rem;
    margin: 0 .1rem;
    transition: .2s linear;

}

.footer .icons a:hover {
    color: #fff;
    background: #f9580e;
    border-color: #f9580e;
}